.btn-toggle {
  margin: 0 5rem;
  padding: 0;
  position: relative;
  border: none;
  height: 2.5rem;
  width: 5rem;
  border-radius: 2.5rem;

  .handle {
    position: absolute;
    top: 0.3125rem;
    left: 0.3125rem;
    width: 1.875rem;
    height: 1.875rem;
    border-radius: 1.875rem;
    background: #fff;
    transition: left 0.25s;
  }

  &.active {
    background-color: #29b5a8;

    .handle {
      left: 2.8125rem;
      transition: left 0.25s;
    }
  }
}

// https://codepen.io/aanjulena/pen/ZLZjzV
