button {
  letter-spacing: 0.05rem;
  position: relative;
  background: white;
  color: #401aff;
  border-radius: 0.2rem;
  transition: 0.2s all ease-in-out;

  &:hover {
    transform: translateY(-5px);
  }

}

input {
  background: #ecf0f1;
  padding: 10px;
  color: #7f8c8d;
  border-style: solid;
  border-width: 0;
  border-bottom-width: 3px;
  border-color: #bdc3c7;
  outline: none;
  border-radius: 5px 0px 5px 0px;
  -webkit-transition: 0.1s ease-in-out;

  &:focus {
    border-color: #3498db;
    color: #34495e;
  }
}


table {
  border-collapse: collapse;
  box-shadow: 0 5px 10px #e1e5ee;
  background-color: white;
  text-align: left;
  overflow: hidden;
  width: 100%;
}

th {
  padding: 1rem 2rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-size: 0.7rem;
  font-weight: 900;
}

td {
  padding: 1rem 2rem;
}

a {
  text-decoration: none;
  color: #2962ff;
}

.status {
  border-radius: 0.2rem;
  background-color: red;
  padding: 0.2rem 1rem;
  text-align: center;
}

.status-pending {
  background-color: #fff0c2;
  color: #a68b00;
}

.status-paid {
  background-color: #c8e6c9;
  color: #388e3c;
}

.status-unpaid {
  background-color: #ffcdd2;
  color: #c62828;
}


.amount {
  text-align: right;
}


tr:nth-child(even) {
  background-color: #f4f6fb;
}

　
