
javascript/*/*/node_modules
javascript/*/*/build
javascript/*/*/public

graphql/*/node_modules


terraform/sample/.DS_Store
terraform/sample/.terraform.lock.hcl
terraform/sample/terraform.tfstate
terraform/sample/terraform.tfstate.backup
terraform/sample/.idea/.gitignore
terraform/sample/.idea/git_toolbox_prj.xml
terraform/sample/.idea/modules.xml
terraform/sample/.idea/sample.iml
terraform/sample/.idea/vcs.xml
terraform/sample/.terraform/providers/registry.terraform.io/hashicorp/aws/3.74.0/darwin_arm64/terraform-provider-aws_v3.74.0_x5

go/ToDoList-Server/mysql