.rotate-check {
  // em を使用してサイズを相対値指定するのでfont-size 固定を明記しておく
  --font-size-default: 14px;

  --square-color: #3e423f;
  --check-color: #00c851;

  font-size: var(--font-size-default);
  width: 1em;
  height: 1em;
  margin-right: 2em;
  cursor: pointer;
  display: inline-block;
  position: relative;

  --box-size: calc(1em * 0.2);
  --line-weight: 3px;

  .square {
    position: absolute;
    width: calc(1em * 0.4);
    height: calc(1em * 0.4);

    padding-top: var(--box-size);
    padding-bottom: var(--box-size);
    padding-left: var(--box-size);
    padding-right: var(--box-size);

    border-style: solid;
    border-radius: 3px;
    border-top-width: var(--line-weight);
    border-bottom-width: var(--line-weight);
    border-left-width: var(--line-weight);
    border-right-width: var(--line-weight);

    border-color: var(--square-color);
    opacity: 0.5;

    transition: all 0.2s ease;
  }

  .check {
    position: absolute;

    width: calc(1em * 0.8);
    height: calc(1em * 0.1);

    padding-top: var(--box-size);
    padding-bottom: var(--box-size);
    padding-left: var(--box-size);
    padding-right: var(--box-size);

    border-style: solid;
    border-top-width: var(--line-weight);
    border-right-width: var(--line-weight);
    border-bottom-width: var(--line-weight);
    border-left-width: var(--line-weight);
    border-top-color: transparent;
    border-right-color: transparent;

    border-left-color: var(--check-color);
    border-bottom-color: var(--check-color);

    transform: rotate(-50deg);
    transition: all 0.2s ease;
  }
}
